* {
  margin: 0px;
  padding: 0px;
}

/* index.html */
body {
  background-color: #A4A8D1;
}

/* navigation */
.navigation {
  font-family: 'MuseoModerno', cursive;
  text-align: center;
  color: #A4BFEB;
  display: flex;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
  padding: 10px;
  background-color: #A4BFEB;
  overflow: hidden;
}

li {
  display: inline;
}

li a {
  color: #9D858D;
  text-declaration: none;
  text-align: justify;
  padding: 1px;
  font-size: 20px;
}

li a:hover {
  background-color: #EDCBB1;
}

/* text and fonts*/
p {  
    font-family:'Balsamiq Sans', cursive;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
  font-family:'Sriracha', cursive;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  color: #EDCBB1;
  font-family:'Sriracha', cursive;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* web header */
.header {
  background-color: #9D858D;
  color: #EDCBB1
}

/* main page image*/
.main-img {
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 3px solid white;
  border-radius: 0.5%;
}

/*portfolio page*/
  
.port-img {
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid black;
  border-radius: 0.5%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  padding-top: 2px;
  padding-bottom: 1px;
}

/* about me page*/
  
.other-img {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
}

